@charset "UTF-8";

/* 메인 목록 (외부) */
.main_list_section {
  width: 1200px;
  margin: 0 auto; /* 이전 상하 75px 적용 */
  position: relative;
}
.main_list_section > h2 {
  font-weight: 600;
  font-size: var(--l_font); /* 20px */
  line-height: 40px;
  margin-bottom: 35px;
}

/* 메인 목록 (각 내부) */
.main_list_wrap {
  overflow-x: auto;
  white-space: nowrap;
  user-select: none; /* 텍스트 선택 방지 (드래그 중) */
  overflow: hidden; /* 스크롤바 숨기기 */
}

.main_list {
  display: inline-block;
  width: 238px;
  margin: 5px 14px 12px 14px;
}
.main_list:first-child {
  margin-left: 0;
}

.main_list_img { /* 이미지 태그 감싸는 부모 */
  overflow: hidden;
  margin-bottom: 14px;
  border-radius: 35px;
}
.main_list img { /* 이미지 사이즈 */
  width: 100%;
  max-width: 238px; /* 이미지 크기 */
  max-height: 266px; /* 이미지 크기 */
  transition: 0.3s;
  filter: brightness(1.05);
}

.main_list img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.main_list p {
  margin: 10px 0;
}

.main_list .main_list_name {
  font-weight: 700;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}
.main_list .main_list_price,
.main_list .main_list_datetime {
  font-size: var(--s_font); /* 14px */
}
.main_list_price span {
  font-weight: 600;
}
.main_list_datetime {
  color: #454545;
}

.main_list .main_list_label {
  background: var(--s_color_g); /* #B9EC8F | 팀 작업시: #333 */
  color: var(--m_color_bk); /* #333 | 팀 작업시: #fff */
  font-size: var(--xs_font); /* 13px */
  padding: 6px 12px;
  display: inline-block;
  border-radius: 10px;
}

/* 좌우 알림 메시지 */
.rightPage {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  opacity: 0;
  width: 100%; /* 스크롤 범위 상승 위함 */
  text-align: center;
  padding: 10px; /* 스크롤 범위 상승 위함 */
}
.rightPage p {
  background: rgba(0, 0, 0, 0.6);
  color: var(--m_color_wh); /* #fff */
  display: inline;
  padding: 2px 10px;
  border-radius: 10px;
}
.main_list_wrap:hover .rightPage {
  opacity: 1;
}

/* 더보기 버튼 (이후 추가분) */
.main_list_morebtn {width: 100%; text-align: center; margin-top: 10px;}
.main_list_morebtn > a {border: 1px solid #ddd; padding: 12px 15px; border-radius: 3px; transition: background 0.15s linear; width: 100%; display: block; box-sizing: border-box;}
.main_list_morebtn > a:hover {background: var(--s_color_g);}

/* 반응형 */
/* tablet, mobile 공통 */
@media screen and (max-width: 1024px) {
  .main_list_section {
    width: 98%;
    margin: 0 1%;
  } /* 너비 및 마진은 조정 */

  .rightPage {
    top: 10%;
  }
}

/* tablet (max-width: 1024px , min-width: 768px */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .main_list {
    width: 190px; /* PC : 최대 238px */
  } /* 너비 조정 */
}

/* mobile (max-width: 767px) */
@media screen and (max-width: 767px) {
  .main_list {
    width: 160px; /* PC : 최대 238px */
  } /* 너비 조정 */
}